Android/MrTMaker/MrTMaker/Web References/imagen/imagen0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSQL_Imagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_Imagen" nillable="true" type="tns:SQL_Imagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_Imagen" nillable="true" type="tns:ArrayOfSQL_Imagen" />
  <xs:complexType name="SQL_Imagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="ima_dat" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ima_id" type="xs:int" />
      <xs:element minOccurs="0" name="ind_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Imagen" nillable="true" type="tns:SQL_Imagen" />
</xs:schema>