Android/MrTMaker/MrTMaker/Web References/imagen/imagen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/imagen?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
  <xs:element name="getImagenFromIndividio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ind_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImagenFromIndividioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getImagenFromIndividioResult" nillable="true" type="q1:ArrayOfSQL_Imagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewImageInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ima" nillable="true" type="q2:SQL_Imagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewImageInDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNewImageInDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateImagenInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ima" nillable="true" type="q3:SQL_Imagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateImagenInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteImagenInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ima" nillable="true" type="q4:SQL_Imagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteImagenInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>