Android/MrTMaker/MrTMaker/Web References/imagen/SQL_Imagen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Imagen" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/imagen?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/imagen?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/imagen?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImagen_getImagenFromIndividio_InputMessage">
    <wsdl:part name="parameters" element="tns:getImagenFromIndividio" />
  </wsdl:message>
  <wsdl:message name="IImagen_getImagenFromIndividio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImagenFromIndividioResponse" />
  </wsdl:message>
  <wsdl:message name="IImagen_createNewImageInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewImageInDB" />
  </wsdl:message>
  <wsdl:message name="IImagen_createNewImageInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewImageInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IImagen_updateImagenInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateImagenInDB" />
  </wsdl:message>
  <wsdl:message name="IImagen_updateImagenInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateImagenInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IImagen_deleteImagenInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteImagenInDB" />
  </wsdl:message>
  <wsdl:message name="IImagen_deleteImagenInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteImagenInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IImagen">
    <wsdl:operation name="getImagenFromIndividio">
      <wsdl:input wsaw:Action="http://tempuri.org/IImagen/getImagenFromIndividio" message="tns:IImagen_getImagenFromIndividio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImagen/getImagenFromIndividioResponse" message="tns:IImagen_getImagenFromIndividio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewImageInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IImagen/createNewImageInDB" message="tns:IImagen_createNewImageInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImagen/createNewImageInDBResponse" message="tns:IImagen_createNewImageInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateImagenInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IImagen/updateImagenInDB" message="tns:IImagen_updateImagenInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImagen/updateImagenInDBResponse" message="tns:IImagen_updateImagenInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteImagenInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IImagen/deleteImagenInDB" message="tns:IImagen_deleteImagenInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImagen/deleteImagenInDBResponse" message="tns:IImagen_deleteImagenInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImagen" type="tns:IImagen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getImagenFromIndividio">
      <soap:operation soapAction="http://tempuri.org/IImagen/getImagenFromIndividio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewImageInDB">
      <soap:operation soapAction="http://tempuri.org/IImagen/createNewImageInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateImagenInDB">
      <soap:operation soapAction="http://tempuri.org/IImagen/updateImagenInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteImagenInDB">
      <soap:operation soapAction="http://tempuri.org/IImagen/deleteImagenInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Imagen">
    <wsdl:port name="BasicHttpBinding_IImagen" binding="tns:BasicHttpBinding_IImagen">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/imagen/imagen" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>