Android/MrTMaker/MrTMaker/Web References/evaluacion/evaluacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSQL_Evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_Evaluacion" nillable="true" type="tns:SQL_Evaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_Evaluacion" nillable="true" type="tns:ArrayOfSQL_Evaluacion" />
  <xs:complexType name="SQL_Evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="atr_id" type="xs:int" />
      <xs:element minOccurs="0" name="equ_id" type="xs:int" />
      <xs:element minOccurs="0" name="eva_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="eva_id" type="xs:int" />
      <xs:element minOccurs="0" name="eva_value" type="xs:double" />
      <xs:element minOccurs="0" name="ind_idExamined" type="xs:int" />
      <xs:element minOccurs="0" name="ind_idExaminer" type="xs:int" />
      <xs:element minOccurs="0" name="opc_id" type="xs:int" />
      <xs:element minOccurs="0" name="par_id" type="xs:int" />
      <xs:element minOccurs="0" name="rel_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Evaluacion" nillable="true" type="tns:SQL_Evaluacion" />
</xs:schema>