Android/MrTMaker/MrTMaker/Web References/evaluacion/SQL_Evaluacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Evaluacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/evaluacion?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/evaluacion?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/evaluacion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvaluacion_searchEvaluacionByIndividuo_InputMessage">
    <wsdl:part name="parameters" element="tns:searchEvaluacionByIndividuo" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_searchEvaluacionByIndividuo_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchEvaluacionByIndividuoResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_createNewevaluacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewevaluacionInDB" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_createNewevaluacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewevaluacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_updateEvaluacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEvaluacionInDB" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_updateEvaluacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEvaluacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_deleteEvaulacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEvaulacionInDB" />
  </wsdl:message>
  <wsdl:message name="IEvaluacion_deleteEvaulacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEvaulacionInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvaluacion">
    <wsdl:operation name="searchEvaluacionByIndividuo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacion/searchEvaluacionByIndividuo" message="tns:IEvaluacion_searchEvaluacionByIndividuo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacion/searchEvaluacionByIndividuoResponse" message="tns:IEvaluacion_searchEvaluacionByIndividuo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewevaluacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacion/createNewevaluacionInDB" message="tns:IEvaluacion_createNewevaluacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacion/createNewevaluacionInDBResponse" message="tns:IEvaluacion_createNewevaluacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEvaluacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacion/updateEvaluacionInDB" message="tns:IEvaluacion_updateEvaluacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacion/updateEvaluacionInDBResponse" message="tns:IEvaluacion_updateEvaluacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEvaulacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacion/deleteEvaulacionInDB" message="tns:IEvaluacion_deleteEvaulacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacion/deleteEvaulacionInDBResponse" message="tns:IEvaluacion_deleteEvaulacionInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvaluacion" type="tns:IEvaluacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchEvaluacionByIndividuo">
      <soap:operation soapAction="http://tempuri.org/IEvaluacion/searchEvaluacionByIndividuo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewevaluacionInDB">
      <soap:operation soapAction="http://tempuri.org/IEvaluacion/createNewevaluacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEvaluacionInDB">
      <soap:operation soapAction="http://tempuri.org/IEvaluacion/updateEvaluacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEvaulacionInDB">
      <soap:operation soapAction="http://tempuri.org/IEvaluacion/deleteEvaulacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Evaluacion">
    <wsdl:port name="BasicHttpBinding_IEvaluacion" binding="tns:BasicHttpBinding_IEvaluacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/evaluacion/evaluacion" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>