Android/MrTMaker/MrTMaker/Web References/individuo/individuo0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQL_Individuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="last_name1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="years" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Individuo" nillable="true" type="tns:SQL_Individuo" />
  <xs:complexType name="ArrayOfSQL_Individuo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_Individuo" nillable="true" type="tns:SQL_Individuo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_Individuo" nillable="true" type="tns:ArrayOfSQL_Individuo" />
</xs:schema>