Android/MrTMaker/MrTMaker/Web References/individuo/SQL_Individuo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Individuo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/individuo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/individuo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/individuo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIndividuo_createNewIndividuoInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewIndividuoInDB" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_createNewIndividuoInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewIndividuoInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_updateIndividuoInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateIndividuoInDB" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_updateIndividuoInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateIndividuoInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_deleteIndiviuoInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteIndiviuoInDB" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_deleteIndiviuoInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteIndiviuoInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_searchIndividuoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:searchIndividuoByName" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_searchIndividuoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchIndividuoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_getIndividuoFromDBbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndividuoFromDBbyID" />
  </wsdl:message>
  <wsdl:message name="IIndividuo_getIndividuoFromDBbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndividuoFromDBbyIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IIndividuo">
    <wsdl:operation name="createNewIndividuoInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndividuo/createNewIndividuoInDB" message="tns:IIndividuo_createNewIndividuoInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndividuo/createNewIndividuoInDBResponse" message="tns:IIndividuo_createNewIndividuoInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateIndividuoInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndividuo/updateIndividuoInDB" message="tns:IIndividuo_updateIndividuoInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndividuo/updateIndividuoInDBResponse" message="tns:IIndividuo_updateIndividuoInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteIndiviuoInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndividuo/deleteIndiviuoInDB" message="tns:IIndividuo_deleteIndiviuoInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndividuo/deleteIndiviuoInDBResponse" message="tns:IIndividuo_deleteIndiviuoInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchIndividuoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndividuo/searchIndividuoByName" message="tns:IIndividuo_searchIndividuoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndividuo/searchIndividuoByNameResponse" message="tns:IIndividuo_searchIndividuoByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIndividuoFromDBbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndividuo/getIndividuoFromDBbyID" message="tns:IIndividuo_getIndividuoFromDBbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndividuo/getIndividuoFromDBbyIDResponse" message="tns:IIndividuo_getIndividuoFromDBbyID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIndividuo" type="tns:IIndividuo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createNewIndividuoInDB">
      <soap:operation soapAction="http://tempuri.org/IIndividuo/createNewIndividuoInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIndividuoInDB">
      <soap:operation soapAction="http://tempuri.org/IIndividuo/updateIndividuoInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteIndiviuoInDB">
      <soap:operation soapAction="http://tempuri.org/IIndividuo/deleteIndiviuoInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchIndividuoByName">
      <soap:operation soapAction="http://tempuri.org/IIndividuo/searchIndividuoByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndividuoFromDBbyID">
      <soap:operation soapAction="http://tempuri.org/IIndividuo/getIndividuoFromDBbyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Individuo">
    <wsdl:port name="BasicHttpBinding_IIndividuo" binding="tns:BasicHttpBinding_IIndividuo">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/individuo/individuo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>