Android/MrTMaker/MrTMaker/Web References/comentario/comentario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/comentario?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
  <xs:element name="getComentarioFromIndoviduo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="person" nillable="true" type="q1:SQL_Individuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentarioFromIndoviduoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getComentarioFromIndoviduoResult" nillable="true" type="q2:ArrayOfSQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentarioToIndoviduo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="person" nillable="true" type="q3:SQL_Individuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentarioToIndoviduoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getComentarioToIndoviduoResult" nillable="true" type="q4:ArrayOfSQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="sender" nillable="true" type="q5:SQL_Individuo" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="resiver" nillable="true" type="q6:SQL_Individuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getComentarioResult" nillable="true" type="q7:ArrayOfSQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewComentarioInB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="co" nillable="true" type="q8:SQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewComentarioInBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNewComentarioInBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComentarioInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="co" nillable="true" type="q9:SQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComentarioInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComentarioInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="co" nillable="true" type="q10:SQL_Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComentarioInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>