Android/MrTMaker/MrTMaker/Web References/comentario/SQL_Comentario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Comentario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/comentario?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/comentario?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/comentario?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComentario_getComentarioFromIndoviduo_InputMessage">
    <wsdl:part name="parameters" element="tns:getComentarioFromIndoviduo" />
  </wsdl:message>
  <wsdl:message name="IComentario_getComentarioFromIndoviduo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getComentarioFromIndoviduoResponse" />
  </wsdl:message>
  <wsdl:message name="IComentario_getComentarioToIndoviduo_InputMessage">
    <wsdl:part name="parameters" element="tns:getComentarioToIndoviduo" />
  </wsdl:message>
  <wsdl:message name="IComentario_getComentarioToIndoviduo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getComentarioToIndoviduoResponse" />
  </wsdl:message>
  <wsdl:message name="IComentario_getComentario_InputMessage">
    <wsdl:part name="parameters" element="tns:getComentario" />
  </wsdl:message>
  <wsdl:message name="IComentario_getComentario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getComentarioResponse" />
  </wsdl:message>
  <wsdl:message name="IComentario_createNewComentarioInB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewComentarioInB" />
  </wsdl:message>
  <wsdl:message name="IComentario_createNewComentarioInB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewComentarioInBResponse" />
  </wsdl:message>
  <wsdl:message name="IComentario_updateComentarioInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateComentarioInDB" />
  </wsdl:message>
  <wsdl:message name="IComentario_updateComentarioInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateComentarioInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IComentario_deleteComentarioInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteComentarioInDB" />
  </wsdl:message>
  <wsdl:message name="IComentario_deleteComentarioInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteComentarioInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IComentario">
    <wsdl:operation name="getComentarioFromIndoviduo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/getComentarioFromIndoviduo" message="tns:IComentario_getComentarioFromIndoviduo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/getComentarioFromIndoviduoResponse" message="tns:IComentario_getComentarioFromIndoviduo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getComentarioToIndoviduo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/getComentarioToIndoviduo" message="tns:IComentario_getComentarioToIndoviduo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/getComentarioToIndoviduoResponse" message="tns:IComentario_getComentarioToIndoviduo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getComentario">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/getComentario" message="tns:IComentario_getComentario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/getComentarioResponse" message="tns:IComentario_getComentario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewComentarioInB">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/createNewComentarioInB" message="tns:IComentario_createNewComentarioInB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/createNewComentarioInBResponse" message="tns:IComentario_createNewComentarioInB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateComentarioInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/updateComentarioInDB" message="tns:IComentario_updateComentarioInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/updateComentarioInDBResponse" message="tns:IComentario_updateComentarioInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteComentarioInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IComentario/deleteComentarioInDB" message="tns:IComentario_deleteComentarioInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComentario/deleteComentarioInDBResponse" message="tns:IComentario_deleteComentarioInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComentario" type="tns:IComentario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getComentarioFromIndoviduo">
      <soap:operation soapAction="http://tempuri.org/IComentario/getComentarioFromIndoviduo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComentarioToIndoviduo">
      <soap:operation soapAction="http://tempuri.org/IComentario/getComentarioToIndoviduo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComentario">
      <soap:operation soapAction="http://tempuri.org/IComentario/getComentario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewComentarioInB">
      <soap:operation soapAction="http://tempuri.org/IComentario/createNewComentarioInB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComentarioInDB">
      <soap:operation soapAction="http://tempuri.org/IComentario/updateComentarioInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComentarioInDB">
      <soap:operation soapAction="http://tempuri.org/IComentario/deleteComentarioInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Comentario">
    <wsdl:port name="BasicHttpBinding_IComentario" binding="tns:BasicHttpBinding_IComentario">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/comentario/comentario" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>