Android/MrTMaker/MrTMaker/Web References/tipoRelacion/SQL_TipoRelacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_TipoRelacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/tipoRelacion?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/tipoRelacion?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/tipoRelacion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITipoRelacion_getRelationsType_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelationsType" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_getRelationsType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRelationsTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_addNewTipoRelacionInBD_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewTipoRelacionInBD" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_addNewTipoRelacionInBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewTipoRelacionInBDResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_updateTipoRelacionInBD_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTipoRelacionInBD" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_updateTipoRelacionInBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTipoRelacionInBDResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_deleteTipoRelacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTipoRelacionInDB" />
  </wsdl:message>
  <wsdl:message name="ITipoRelacion_deleteTipoRelacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTipoRelacionInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ITipoRelacion">
    <wsdl:operation name="getRelationsType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoRelacion/getRelationsType" message="tns:ITipoRelacion_getRelationsType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoRelacion/getRelationsTypeResponse" message="tns:ITipoRelacion_getRelationsType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewTipoRelacionInBD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoRelacion/addNewTipoRelacionInBD" message="tns:ITipoRelacion_addNewTipoRelacionInBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoRelacion/addNewTipoRelacionInBDResponse" message="tns:ITipoRelacion_addNewTipoRelacionInBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTipoRelacionInBD">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoRelacion/updateTipoRelacionInBD" message="tns:ITipoRelacion_updateTipoRelacionInBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoRelacion/updateTipoRelacionInBDResponse" message="tns:ITipoRelacion_updateTipoRelacionInBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTipoRelacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoRelacion/deleteTipoRelacionInDB" message="tns:ITipoRelacion_deleteTipoRelacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoRelacion/deleteTipoRelacionInDBResponse" message="tns:ITipoRelacion_deleteTipoRelacionInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITipoRelacion" type="tns:ITipoRelacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRelationsType">
      <soap:operation soapAction="http://tempuri.org/ITipoRelacion/getRelationsType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewTipoRelacionInBD">
      <soap:operation soapAction="http://tempuri.org/ITipoRelacion/addNewTipoRelacionInBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTipoRelacionInBD">
      <soap:operation soapAction="http://tempuri.org/ITipoRelacion/updateTipoRelacionInBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTipoRelacionInDB">
      <soap:operation soapAction="http://tempuri.org/ITipoRelacion/deleteTipoRelacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_TipoRelacion">
    <wsdl:port name="BasicHttpBinding_ITipoRelacion" binding="tns:BasicHttpBinding_ITipoRelacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/tipoRelacion/tipoRelacion" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>