Android/MrTMaker/MrTMaker/Web References/tipoRelacion/tipoRelacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/tipoRelacion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
  <xs:element name="getRelationsType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelationsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getRelationsTypeResult" nillable="true" type="q1:ArrayOfSQL_TipoRelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewTipoRelacionInBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ti" nillable="true" type="q2:SQL_TipoRelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewTipoRelacionInBDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoRelacionInBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ti" nillable="true" type="q3:SQL_TipoRelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoRelacionInBDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoRelacionInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="ti" nillable="true" type="q4:SQL_TipoRelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoRelacionInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>