Android/MrTMaker/MrTMaker/Web References/tipoRelacion/tipoRelacion0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSQL_TipoRelacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_TipoRelacion" nillable="true" type="tns:SQL_TipoRelacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_TipoRelacion" nillable="true" type="tns:ArrayOfSQL_TipoRelacion" />
  <xs:complexType name="SQL_TipoRelacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SQL_Object">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipRe_Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipRe_id" type="xs:int" />
          <xs:element minOccurs="0" name="tipRe_type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SQL_TipoRelacion" nillable="true" type="tns:SQL_TipoRelacion" />
  <xs:complexType name="SQL_Object">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SQL_Object" nillable="true" type="tns:SQL_Object" />
</xs:schema>