Android/MrTMaker/MrTMaker/Web References/equipo/equipo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/equipo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
  <xs:element name="searchEquiposByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchEquiposByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="searchEquiposByNameResult" nillable="true" type="q1:ArrayOfSQL_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getAllEquiposResult" nillable="true" type="q2:ArrayOfSQL_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getEquipoByIDResult" nillable="true" type="q3:SQL_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEquipoInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="eq" nillable="true" type="q4:SQL_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEquipoInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEquipoInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="eq" nillable="true" type="q5:SQL_Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEquipoInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>