Android/MrTMaker/MrTMaker/Web References/opcion/opcion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/opcion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
  <xs:element name="getAllOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="atr" nillable="true" type="q1:SQL_Atributo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getAllOptionsResult" nillable="true" type="q2:ArrayOfSQL_Opcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOpcionByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOpcionByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="getOpcionByGroupResult" nillable="true" type="q3:ArrayOfSQL_Opcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewOpcionInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="op" nillable="true" type="q4:SQL_Opcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewOpcionInDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNewOpcionInDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOpcionInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="op" nillable="true" type="q5:SQL_Opcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOpcionInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOpcionInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" minOccurs="0" name="op" nillable="true" type="q6:SQL_Opcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOpcionInDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>