Android/MrTMaker/MrTMaker/Web References/habilidad/habilidad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQL_Individuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="telephone" type="xs:int" />
      <xs:element minOccurs="0" name="years" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Individuo" nillable="true" type="tns:SQL_Individuo" />
  <xs:complexType name="ArrayOfSQL_Habilidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_Habilidad" nillable="true" type="tns:SQL_Habilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_Habilidad" nillable="true" type="tns:ArrayOfSQL_Habilidad" />
  <xs:complexType name="SQL_Habilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="atr_id" type="xs:int" />
      <xs:element minOccurs="0" name="hab_FinalValue" type="xs:float" />
      <xs:element minOccurs="0" name="hab_id" type="xs:int" />
      <xs:element minOccurs="0" name="ind_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Habilidad" nillable="true" type="tns:SQL_Habilidad" />
  <xs:complexType name="SQL_Atributo">
    <xs:sequence>
      <xs:element minOccurs="0" name="atr_drescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="atr_group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="atr_id" type="xs:int" />
      <xs:element minOccurs="0" name="atr_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Atributo" nillable="true" type="tns:SQL_Atributo" />
</xs:schema>