Android/MrTMaker/MrTMaker/Web References/habilidad/SQL_Habilidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Habilidad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/habilidad?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/habilidad?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/habilidad?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHabilidad_getHabilidadByIndividuo_InputMessage">
    <wsdl:part name="parameters" element="tns:getHabilidadByIndividuo" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_getHabilidadByIndividuo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHabilidadByIndividuoResponse" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_createNewHabilidadInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewHabilidadInDB" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_createNewHabilidadInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewHabilidadInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_updateHanilidadInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateHanilidadInDB" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_updateHanilidadInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateHanilidadInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_deleteHabilidadInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteHabilidadInDB" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_deleteHabilidadInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteHabilidadInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_IndividuoTieneAtributo_InputMessage">
    <wsdl:part name="parameters" element="tns:IndividuoTieneAtributo" />
  </wsdl:message>
  <wsdl:message name="IHabilidad_IndividuoTieneAtributo_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndividuoTieneAtributoResponse" />
  </wsdl:message>
  <wsdl:portType name="IHabilidad">
    <wsdl:operation name="getHabilidadByIndividuo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabilidad/getHabilidadByIndividuo" message="tns:IHabilidad_getHabilidadByIndividuo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabilidad/getHabilidadByIndividuoResponse" message="tns:IHabilidad_getHabilidadByIndividuo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewHabilidadInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabilidad/createNewHabilidadInDB" message="tns:IHabilidad_createNewHabilidadInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabilidad/createNewHabilidadInDBResponse" message="tns:IHabilidad_createNewHabilidadInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateHanilidadInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabilidad/updateHanilidadInDB" message="tns:IHabilidad_updateHanilidadInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabilidad/updateHanilidadInDBResponse" message="tns:IHabilidad_updateHanilidadInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteHabilidadInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabilidad/deleteHabilidadInDB" message="tns:IHabilidad_deleteHabilidadInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabilidad/deleteHabilidadInDBResponse" message="tns:IHabilidad_deleteHabilidadInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndividuoTieneAtributo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabilidad/IndividuoTieneAtributo" message="tns:IHabilidad_IndividuoTieneAtributo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabilidad/IndividuoTieneAtributoResponse" message="tns:IHabilidad_IndividuoTieneAtributo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHabilidad" type="tns:IHabilidad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHabilidadByIndividuo">
      <soap:operation soapAction="http://tempuri.org/IHabilidad/getHabilidadByIndividuo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewHabilidadInDB">
      <soap:operation soapAction="http://tempuri.org/IHabilidad/createNewHabilidadInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHanilidadInDB">
      <soap:operation soapAction="http://tempuri.org/IHabilidad/updateHanilidadInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHabilidadInDB">
      <soap:operation soapAction="http://tempuri.org/IHabilidad/deleteHabilidadInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndividuoTieneAtributo">
      <soap:operation soapAction="http://tempuri.org/IHabilidad/IndividuoTieneAtributo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Habilidad">
    <wsdl:port name="BasicHttpBinding_IHabilidad" binding="tns:BasicHttpBinding_IHabilidad">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/habilidad/habilidad" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>