Android/MrTMaker/MrTMaker/Web References/participacionEquipo/SQL_ParticipacionEquipo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_ParticipacionEquipo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/participacionEquipo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/participacionEquipo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/participacionEquipo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParticipacionEquipo_getIndividuosFromEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndividuosFromEquipo" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getIndividuosFromEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndividuosFromEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getParticipacionesFromEquipo_InputMessage">
    <wsdl:part name="parameters" element="tns:getParticipacionesFromEquipo" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getParticipacionesFromEquipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParticipacionesFromEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getAllParticipaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllParticipaciones" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getAllParticipaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllParticipacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getParticipacionFromIndividuo_InputMessage">
    <wsdl:part name="parameters" element="tns:getParticipacionFromIndividuo" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_getParticipacionFromIndividuo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParticipacionFromIndividuoResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_createNewParticipacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewParticipacionInDB" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_createNewParticipacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewParticipacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_updateNewParticipacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateNewParticipacionInDB" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_updateNewParticipacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateNewParticipacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_deleteParticipacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteParticipacionInDB" />
  </wsdl:message>
  <wsdl:message name="IParticipacionEquipo_deleteParticipacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteParticipacionInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IParticipacionEquipo">
    <wsdl:operation name="getIndividuosFromEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/getIndividuosFromEquipo" message="tns:IParticipacionEquipo_getIndividuosFromEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/getIndividuosFromEquipoResponse" message="tns:IParticipacionEquipo_getIndividuosFromEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParticipacionesFromEquipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/getParticipacionesFromEquipo" message="tns:IParticipacionEquipo_getParticipacionesFromEquipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/getParticipacionesFromEquipoResponse" message="tns:IParticipacionEquipo_getParticipacionesFromEquipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllParticipaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/getAllParticipaciones" message="tns:IParticipacionEquipo_getAllParticipaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/getAllParticipacionesResponse" message="tns:IParticipacionEquipo_getAllParticipaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParticipacionFromIndividuo">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/getParticipacionFromIndividuo" message="tns:IParticipacionEquipo_getParticipacionFromIndividuo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/getParticipacionFromIndividuoResponse" message="tns:IParticipacionEquipo_getParticipacionFromIndividuo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewParticipacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/createNewParticipacionInDB" message="tns:IParticipacionEquipo_createNewParticipacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/createNewParticipacionInDBResponse" message="tns:IParticipacionEquipo_createNewParticipacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateNewParticipacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/updateNewParticipacionInDB" message="tns:IParticipacionEquipo_updateNewParticipacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/updateNewParticipacionInDBResponse" message="tns:IParticipacionEquipo_updateNewParticipacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteParticipacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipacionEquipo/deleteParticipacionInDB" message="tns:IParticipacionEquipo_deleteParticipacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipacionEquipo/deleteParticipacionInDBResponse" message="tns:IParticipacionEquipo_deleteParticipacionInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParticipacionEquipo" type="tns:IParticipacionEquipo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getIndividuosFromEquipo">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/getIndividuosFromEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipacionesFromEquipo">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/getParticipacionesFromEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllParticipaciones">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/getAllParticipaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipacionFromIndividuo">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/getParticipacionFromIndividuo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewParticipacionInDB">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/createNewParticipacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNewParticipacionInDB">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/updateNewParticipacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteParticipacionInDB">
      <soap:operation soapAction="http://tempuri.org/IParticipacionEquipo/deleteParticipacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_ParticipacionEquipo">
    <wsdl:port name="BasicHttpBinding_IParticipacionEquipo" binding="tns:BasicHttpBinding_IParticipacionEquipo">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/participacionEquipo/participacionEquipo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>