Android/MrTMaker/MrTMaker/Web References/relacion/relacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQL_Individuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="telephone" type="xs:int" />
      <xs:element minOccurs="0" name="years" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Individuo" nillable="true" type="tns:SQL_Individuo" />
  <xs:complexType name="ArrayOfSQL_Relacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQL_Relacion" nillable="true" type="tns:SQL_Relacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSQL_Relacion" nillable="true" type="tns:ArrayOfSQL_Relacion" />
  <xs:complexType name="SQL_Relacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ind_idFin" type="xs:int" />
      <xs:element minOccurs="0" name="ind_idIni" type="xs:int" />
      <xs:element minOccurs="0" name="rel_id" type="xs:int" />
      <xs:element minOccurs="0" name="rel_val" type="xs:double" />
      <xs:element minOccurs="0" name="tipRe_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQL_Relacion" nillable="true" type="tns:SQL_Relacion" />
</xs:schema>