Android/MrTMaker/MrTMaker/Web References/relacion/SQL_Relacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQL_Relacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/relacion?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/relacion?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/relacion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SQL_ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelacion_getRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelations" />
  </wsdl:message>
  <wsdl:message name="IRelacion_getRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRelacion_createNewRelacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewRelacionInDB" />
  </wsdl:message>
  <wsdl:message name="IRelacion_createNewRelacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewRelacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IRelacion_deleteRelacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRelacionInDB" />
  </wsdl:message>
  <wsdl:message name="IRelacion_deleteRelacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRelacionInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IRelacion_updateRelacionInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRelacionInDB" />
  </wsdl:message>
  <wsdl:message name="IRelacion_updateRelacionInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRelacionInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelacion">
    <wsdl:operation name="getRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelacion/getRelations" message="tns:IRelacion_getRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelacion/getRelationsResponse" message="tns:IRelacion_getRelations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewRelacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelacion/createNewRelacionInDB" message="tns:IRelacion_createNewRelacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelacion/createNewRelacionInDBResponse" message="tns:IRelacion_createNewRelacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRelacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelacion/deleteRelacionInDB" message="tns:IRelacion_deleteRelacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelacion/deleteRelacionInDBResponse" message="tns:IRelacion_deleteRelacionInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRelacionInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelacion/updateRelacionInDB" message="tns:IRelacion_updateRelacionInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelacion/updateRelacionInDBResponse" message="tns:IRelacion_updateRelacionInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRelacion" type="tns:IRelacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRelations">
      <soap:operation soapAction="http://tempuri.org/IRelacion/getRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewRelacionInDB">
      <soap:operation soapAction="http://tempuri.org/IRelacion/createNewRelacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRelacionInDB">
      <soap:operation soapAction="http://tempuri.org/IRelacion/deleteRelacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRelacionInDB">
      <soap:operation soapAction="http://tempuri.org/IRelacion/updateRelacionInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL_Relacion">
    <wsdl:port name="BasicHttpBinding_IRelacion" binding="tns:BasicHttpBinding_IRelacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HostWCF/ServicioWCF/relacion/relacion" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>